@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @* <h1 class="display-4">Sample App</h1> *@
    @* <h1 class="display-4">Sample App - Deployed Using Publish Profile</h1> *@
    @* <h1 class="display-4">Sample App - Deployed Using Zip Deploy</h1> *@
    @* <h1 class="display-4">Sample App - Deployed Using run from package</h1> *@
    @* <h1 class="display-4">Sample App - Deployed Using FTP</h1> *@
    <h1 class="display-4">Sample App - Deployed Using Local Git Deploy</h1>
    <p>Sample app for deployment to Azure App Services</p>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
